.site-main .entry-content .woocommerce .woocommerce-customer-login {
	> h2 {
		display: none;
	}

	@include bp(md) {
		.login {
			width: 50%;
			margin: 0 auto;
		}
	}

	.col-1 .login {
		width: 100%;
	}
}

.woocommerce-password-strength {
	margin-top: 0.5em;
}
