p.lost_password {
	margin-top: -20px;
	
	a {
		color: inherit;
		font-size: 14px;

		&:before {
			@extend .ion;
			content: $ionicon-var-help-circled;
			margin-right: 5px;
		}

		&:hover {
			text-decoration: none;
		}
	}
}
