.woocommerce ul.product_list_widget {
	li {
		overflow: hidden;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		display: block;
		
		img {
			float: left;
			width: 50px;
			height: 50px;
			margin-right: 10px;
		}
	}

	.star-rating {
		display: none;
	}

	del,
	ins,
	.amount {
		font-size: 13px;
	}

	del {
		color: inherit;
	}

	ins {
		font-weight: 800;
		color: #fff;
		border-radius: 3px;
		padding: 3px 5px 2px;
	}
}

.woocommerce .widget_shopping_cart_content {
	ul.product_list_widget.cart_list {
		li {
			margin: 0 0 15px;

			.remove {
				float: right;
			}
		}
	}

	.total {
		margin: 10px 0;
		padding: 8px;
		background: #fafafa;
		border: 1px solid #ccc;
		border-radius: 4px;
		overflow: hidden;
	}

	.buttons .button {
		font-size: 12px;
		padding: 8px 12px;
		border-radius: 4px;
		display: inline-block;
		margin-right: 10px;
	}
}

.woocommerce.widget_price_filter {
	.price_slider {
		margin-bottom: 15px;
	}

	.price_slider_amount {
		button {
			font-size: 12px;
			padding: 8px 12px;
			border-radius: 4px;
			display: inline-block;
			vertical-align: middle;
		}

		.price_label {
			display: inline-block;
			vertical-align: middle;
		}
	}
}
