@import "modal";

input[type=button].apply-with-linkedin,
input[type=button].import-from-linkedin {
	@extend .button;
	@extend .button--type-action;

	border-color: #007bb6;
	color: #007BB6;
	float: none;

	&:hover {
		background-color: #007bb6;
		border-color: #007bb6;
		color: #fff;
	}
}

.job-meta.col-md-2 input[type=button].apply-with-linkedin {
	padding-left: 10px;
	padding-right: 10px;
	white-space: pre-line;
	width: 100%;
}
