/**
 * Cluster Overlay
 */
.cluster-items {
	margin: 0;
	padding: 30px;
	text-align: left;
	list-style-position: inside;

	.map-marker-info {
		font-size: 15px;
		text-align: left;
		height: auto;
		padding: 2px 0;
		display: block;
		overflow: auto;

		position: relative;
		top: auto;
		left: auto;
		width: 100%;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;

		a {
			display: block;
		}
	}
}
/**
 * Map
 */
#jobify-map-canvas,
#jobify-map-canvas-resumes {
	width: 100%;
	height: 500px;
}

#map-canvas-wrap {
	position: relative;
}

.map-filter {
	position: absolute;
	bottom: 0;
	z-index: 100;
	display: none;
	max-width: 1140px;
	width: 100%;
}

.map-tooltip {
	font-size: 13px;
	color: #fff;
	text-align: center;
	background: rgba(0, 0, 0, .70);
	border-radius: 4px;
	margin-top: 16px;
	padding: 10px;
	width: 200px;
	margin-left: -100px;
	left: 50%;
	position: relative;
}

.map-tooltip:after {
	content: ' ';
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 12px 12px 12px;
	border-color: transparent transparent rgba(0, 0, 0, .70) transparent;
	position: absolute;
	display: block;
	top: -12px;
	left: 50%;
	margin-left: -12px;
}

.cluster img {
	display: none;
}

.cluster div {
	text-align: center;
	font-size: 16px !important;
	color: #fff !important;
	font-weight: bold;
	border-radius: 50%;
	width: 35px !important;
	height: 35px !important;
	line-height: 35px !important;
}

.cluster div:after {
	border: 2px dashed;
	border-color: inherit;
	content: ' ';
	position: absolute;
	border-radius: 50%;
	top: -15%;
	left: -15%;
	width: 130%;
	height: 130%;

	-webkit-animation: clusterScale 4s infinite;
	-moz-animation:    clusterScale 4s infinite;
	animation:         clusterScale 4s infinite;
}

body .gmnoprint img {
	max-width: none;
}

@-webkit-keyframes clusterScale {
	0%, 100% {
		-webkit-transform: scale(1) rotate(0deg);
	}
	50% {
		-webkit-transform: scale(1.1) rotate(90deg);
	}
}

@-moz-keyframes clusterScale {
	0%, 100% {
		-moz-transform: scale(1) rotate(0deg);
	}
	50% {
		-moz-transform: scale(1.1) rotate(90deg);
	}
}

@keyframes clusterScale {
	0%, 100% {
		transform: scale(1) rotate(0deg);
	}
	50% {
		transform: scale(1.1) rotate(90deg);
	}
}
