.widget-title--job_listing {
	font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 25px 0 10px;
}

.widget-title--job_listing-top {
	font-size: 23px;
	font-weight: normal;
	text-align: left;
	margin-top: 0;
}
