.widget--job_listing {
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.widget--job_listing-top {
	margin-bottom: 2em;
	padding: 0;
	border: 0;
}

.widget--job_listing.jobify_widget_job_type .job-type {
	margin-bottom: 3px;
}
